{
  "json.schemas": [
    {
      "fileMatch": [
        "finstack/valuations/examples/market_bootstrap/*.json",
        "**/*.calibration.json"
      ],
      "url": "./finstack/valuations/schemas/calibration/2/calibration.schema.json"
    }
  ]
}
